<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rndapp.roostremote" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name=".RoostRemoteApplication"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.DeviceActivity"
            android:theme="@style/AppTheme.NoActionBar.Light"
            />
        <activity android:name=".activities.EditDeviceActivity"
            android:theme="@style/AppTheme"
            />
        <activity android:name=".activities.PlaceActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".activities.FlowActivity" />
        <activity android:name=".activities.FlowsActivity" />
        <activity android:name=".activities.CreateFlowActivity" />

        <receiver android:name=".models.triggers.AlarmReceiver"/>
    </application>

</manifest>
